In [2]:
import pandas as pd
from pathlib import Path

In [3]:
csv_path = Path('../data/cleandata/eviction_dataframe.csv')
eviction_simple = pd.read_csv(csv_path)
eviction_simple = eviction_simple[['FIPS','year','eviction-rate']]
eviction_simple['FIPS'] = eviction_simple['FIPS'].astype(str)
eviction_simple.head()
eviction_simple['FIPS'] = eviction_simple['FIPS'].str[:-1]
eviction_simple.head()

          FIPS  year  eviction-rate
0  48201100000  2001           6.41
1  48201100000  2002           2.06
2  48201100000  2003           3.46
3  48201100000  2004           3.49
4  48201100000  2005           0.27

In [4]:
eviction_simple = eviction_simple[eviction_simple.year == 2016]
eviction_simple.head()
eviction_simple.index = range(len(eviction_simple))
eviction_simple.tail()

             FIPS  year  eviction-rate
1583  48201555701  2016           3.33
1584  48201555701  2016           5.71
1585  48201555702  2016           4.57
1586  48201556000  2016           1.95
1587  48201556000  2016           1.91

In [8]:
eviction_simple = eviction_simple.groupby('FIPS').mean()
eviction_simple = eviction_simple.reset_index()
eviction_simple.tail()

            FIPS  year  eviction-rate
737  48201555502  2016          1.215
738  48201555600  2016          0.750
739  48201555701  2016          4.520
740  48201555702  2016          4.570
741  48201556000  2016          1.930

In [9]:
eviction_simple.to_csv(r'../data/cleandata/eviction_simple.csv', index=False)