In [11]:
# Import necessary libraries and dependencies
import pandas as pd
from pathlib import Path
%matplotlib inline

In [12]:
# Use the Pathlib libary to set the path to the CSV
csv_path = Path('../data/rawdata/eviction_data.csv')
df = pd.read_csv(csv_path)
df['GEOID'] = df['GEOID'].astype(str)
df.head()

,GEOID,year,name,parent-location,population,poverty-rate,renter-occupied-households,pct-renter-occupied,median-gross-rent,median-household-income,...,pct-nh-pi,pct-multiple,pct-other,eviction-filings,evictions,eviction-rate,eviction-filing-rate,low-flag,imputed,subbed
0,48,2000,Texas,USA,20851820.0,15.37,1115310.0,36.2,574.0,39927.0,...,0.05,1.11,0.1,49721.0,17661.0,1.58,4.46,1,0,0
1,48,2001,Texas,USA,20851820.0,15.37,2464458.0,36.2,574.0,39927.0,...,0.05,1.11,0.1,112368.0,56760.0,2.30,4.56,1,0,0
2,48,2002,Texas,USA,20851820.0,15.37,2536161.0,36.2,574.0,39927.0,...,0.05,1.11,0.1,134427.0,68911.0,2.72,5.30,1,0,0
3,48,2003,Texas,USA,20851820.0,15.37,2617527.0,36.2,574.0,39927.0,...,0.05,1.11,0.1,146145.0,74525.0,2.85,5.58,1,0,0
4,48,2004,Texas,USA,20851820.0,15.37,2707586.0,36.2,574.0,39927.0,...,0.05,1.11,0.1,153449.0,77650.0,2.87,5.67,1,0,0

In [9]:
df_data = df[df['parent-location'] == "Harris County, Texas"]
df_data.head

In [9]:
#get columns list to drop unnecesary columns
list(df)

['GEOID',
 'year',
 'name',
 'parent-location',
 'population',
 'poverty-rate',
 'renter-occupied-households',
 'pct-renter-occupied',
 'median-gross-rent',
 'median-household-income',
 'median-property-value',
 'rent-burden',
 'pct-white',
 'pct-af-am',
 'pct-hispanic',
 'pct-am-ind',
 'pct-asian',
 'pct-nh-pi',
 'pct-multiple',
 'pct-other',
 'eviction-filings',
 'evictions',
 'eviction-rate',
 'eviction-filing-rate',
 'low-flag',
 'imputed',
 'subbed']

In [14]:
# Drop extraneous columns
df_data = df.drop(columns=[
     'rent-burden',
     'pct-white',
     'pct-af-am',
     'pct-hispanic',
     'name',
     'parent-location',
     'pct-am-ind',
     'pct-asian',
     'pct-nh-pi',
     'pct-multiple',
     'pct-other',
     'renter-occupied-households',
     'eviction-filings',
     'pct-renter-occupied',
     'median-gross-rent',
     'low-flag',
     'eviction-filing-rate',
     'imputed',
     'subbed'
])
df_data = df_data.dropna()
df_data.head()

,GEOID,year,population,poverty-rate,median-household-income,median-property-value,evictions,eviction-rate
0,48,2000,20851820.0,15.37,39927.0,82500.0,17661.0,1.58
1,48,2001,20851820.0,15.37,39927.0,82500.0,56760.0,2.30
2,48,2002,20851820.0,15.37,39927.0,82500.0,68911.0,2.72
3,48,2003,20851820.0,15.37,39927.0,82500.0,74525.0,2.85
4,48,2004,20851820.0,15.37,39927.0,82500.0,77650.0,2.87

In [15]:
#view columns left
list(df_data)

['GEOID',
 'year',
 'population',
 'poverty-rate',
 'median-household-income',
 'median-property-value',
 'evictions',
 'eviction-rate']

In [21]:
#filter df by Harris County
df_data = df_data.rename(columns={"GEOID":"FIPS"})
df_filtered = df_data[df_data['year'] == 2016]

#filter usign LEN >12 for the FIPS, this avoid duplication of values in data 
df_filtered = df_filtered[df_filtered['FIPS'].str.len()==11]
df_filtered.head()

,FIPS,year,population,poverty-rate,median-household-income,median-property-value,evictions,eviction-rate
34588,48003950100,2016,2160.0,2.27,89028.0,226300.0,3.0,2.22
34605,48003950200,2016,7008.0,9.37,83750.0,125300.0,18.0,2.31
34622,48003950300,2016,4622.0,14.13,59063.0,74100.0,4.0,0.74
34639,48003950400,2016,2985.0,7.69,52219.0,82900.0,0.0,0.00
34945,48007950100,2016,5610.0,7.55,38952.0,158800.0,1.0,0.14

In [22]:
#groupby to confirm population match 
df_year = df_filtered.groupby('FIPS').sum()
df_year

,year,population,poverty-rate,median-household-income,median-property-value,evictions,eviction-rate
FIPS,,,,,,,
48003950100,2016,2160.0,2.27,89028.0,226300.0,3.0,2.22
48003950200,2016,7008.0,9.37,83750.0,125300.0,18.0,2.31
48003950300,2016,4622.0,14.13,59063.0,74100.0,4.0,0.74
48003950400,2016,2985.0,7.69,52219.0,82900.0,0.0,0.00
48007950100,2016,5610.0,7.55,38952.0,158800.0,1.0,0.14
...,...,...,...,...,...,...,...
48505950400,2016,5979.0,30.21,32118.0,62800.0,0.0,0.00
48507950100,2016,1167.0,41.28,10965.0,50100.0,0.0,0.00
48507950200,2016,1939.0,29.11,29779.0,45100.0,0.0,0.00
48507950301,2016,2129.0,39.68,19323.0,38500.0,0.0,0.00
48507950302,2016,6825.0,24.80,33819.0,39600.0,0.0,0.00

In [23]:
#data frame to csvfile
df_filtered.to_csv(r'../data/cleandata/eviction_data.csv')