In [51]:
# Import necessary libraries and dependencies
import pandas as pd
from pathlib import Path
%matplotlib inline

In [52]:
# Use the Pathlib libary to set the path to the CSV
evict_path = Path('../data/cleandata/eviction_data.csv')
flood_path = Path('../data/cleandata/road_flooding_imelda.csv')
school_path = Path('../data/cleandata/school_ratings_data.csv')

In [58]:
# Use the Pathlib libary to set the path to the CSV
#index_col='FIPS'
eviction_df = pd.read_csv(evict_path)
flood_df = pd.read_csv(flood_path)
school_df = pd.read_csv(school_path)
#df['GEOID'] = df['GEOID'].astype(str)
#df.head()

In [62]:
print(eviction_df['FIPS'].dtypes)

int64

In [64]:
print(school_df['FIPS'].dtypes)

int64

In [63]:
print(flood_df['FIPS'].dtypes)

int64

In [65]:
eviction_df.head()

,FIPS,year,name,parent-location,population,poverty-rate,renter-occupied-households,pct-renter-occupied,median-gross-rent,median-household-income,median-property-value,eviction-filings,evictions,eviction-rate,eviction-filing-rate
0,48201100000,2001,1000.0,"Harris County, Texas",6678.33,40.41,1123.0,95.70,755.98,25968.11,27505.80,45.0,26.0,2.32,4.01
1,48201100000,2002,1000.0,"Harris County, Texas",6678.33,40.41,1155.0,95.70,755.98,25968.11,27505.80,44.0,13.0,1.13,3.81
2,48201100000,2003,1000.0,"Harris County, Texas",6678.33,40.41,1187.0,95.70,755.98,25968.11,27505.80,73.0,29.0,2.44,6.15
3,48201100000,2004,1000.0,"Harris County, Texas",6678.33,40.41,1219.0,95.70,755.98,25968.11,27505.80,53.0,26.0,2.13,4.35
4,48201100000,2005,1000.0,"Harris County, Texas",3086.38,9.28,1251.0,85.21,896.00,52089.62,310296.05,16.0,14.0,1.12,1.28

In [66]:
flood_df.head()

           Intersection        Lat       Long         FIPS
0      I-10 and McCarty  29.778123 -95.284054  48201212400
1  I-10 and San Jacinto  29.767983 -95.356149  48201210100
2      I-10 and Waco St  29.772891 -95.326537  48201211300
3   I-10 and Gessner Rd  29.784885 -95.543884  48201522302
4         I-10 and 610W  29.798637 -95.451017  48201520500

In [67]:
flood = "flood area"
flood_df['flood'] = flood
flood_df.head()

           Intersection        Lat       Long         FIPS       flood
0      I-10 and McCarty  29.778123 -95.284054  48201212400  flood area
1  I-10 and San Jacinto  29.767983 -95.356149  48201210100  flood area
2      I-10 and Waco St  29.772891 -95.326537  48201211300  flood area
3   I-10 and Gessner Rd  29.784885 -95.543884  48201522302  flood area
4         I-10 and 610W  29.798637 -95.451017  48201520500  flood area

In [68]:
school_df.head()

,School,Street,Zip,City,Rating,FIPS
0,Frostwood Elementary School,12214 Memorial Drive,77024,Houston,10,48201430600
1,Memorial Drive Elementary School,11202 Smithdale Road,77024,Houston,10,48201430400
2,Rummel Creek Elementary School,625 Brittmoore Road,77079,Houston,10,48201450100
3,Wilchester Elementary School,13618 Saint Marys Lane,77079,Houston,10,48201450200
4,Bush Elementary School,13800 Westerloch Drive,77077,Houston,10,48201451601

In [69]:
combine_data = pd.merge(eviction_df, school_df,school_df, on='FIPS') 
combine_data.head()

C:\Users\rolop\Anaconda3\envs\vizenv\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [48]:
join_df = pd.concat([eviction_df,flood_df,school_df], axis='columns', join='inner')
join_df.head()

ValueError: Shape of passed values is (272, 23), indices imply (17, 23)