In [33]:
# Import necessary libraries and dependencies
import pandas as pd
from pathlib import Path
%matplotlib inline

In [34]:
# Use the Pathlib libary to set the path to the CSV
csv_path = Path('../data/rawdata/eviction_data.csv')
df = pd.read_csv(csv_path)
df['GEOID'] = df['GEOID'].astype(str)
df.head()

,GEOID,year,name,parent-location,population,poverty-rate,renter-occupied-households,pct-renter-occupied,median-gross-rent,median-household-income,...,pct-nh-pi,pct-multiple,pct-other,eviction-filings,evictions,eviction-rate,eviction-filing-rate,low-flag,imputed,subbed
0,48,2000,Texas,USA,20851820.0,15.37,1115310.0,36.2,574.0,39927.0,...,0.05,1.11,0.1,49721.0,17661.0,1.58,4.46,1,0,0
1,48,2001,Texas,USA,20851820.0,15.37,2464458.0,36.2,574.0,39927.0,...,0.05,1.11,0.1,112368.0,56760.0,2.30,4.56,1,0,0
2,48,2002,Texas,USA,20851820.0,15.37,2536161.0,36.2,574.0,39927.0,...,0.05,1.11,0.1,134427.0,68911.0,2.72,5.30,1,0,0
3,48,2003,Texas,USA,20851820.0,15.37,2617527.0,36.2,574.0,39927.0,...,0.05,1.11,0.1,146145.0,74525.0,2.85,5.58,1,0,0
4,48,2004,Texas,USA,20851820.0,15.37,2707586.0,36.2,574.0,39927.0,...,0.05,1.11,0.1,153449.0,77650.0,2.87,5.67,1,0,0

In [35]:
df_data = df[df['parent-location'] == "Harris County, Texas"]
df_data.head()

,GEOID,year,name,parent-location,population,poverty-rate,renter-occupied-households,pct-renter-occupied,median-gross-rent,median-household-income,...,pct-nh-pi,pct-multiple,pct-other,eviction-filings,evictions,eviction-rate,eviction-filing-rate,low-flag,imputed,subbed
73128,48201100000,2000,1000,"Harris County, Texas",6678.33,40.41,1091.0,95.7,755.98,25968.11,...,0.01,0.7,0.03,NaN,NaN,NaN,NaN,0,0,0
73129,48201100000,2001,1000,"Harris County, Texas",6678.33,40.41,1123.0,95.7,755.98,25968.11,...,0.01,0.7,0.03,45.0,26.0,2.32,4.01,1,0,0
73130,48201100000,2002,1000,"Harris County, Texas",6678.33,40.41,1155.0,95.7,755.98,25968.11,...,0.01,0.7,0.03,44.0,13.0,1.13,3.81,1,0,0
73131,48201100000,2003,1000,"Harris County, Texas",6678.33,40.41,1187.0,95.7,755.98,25968.11,...,0.01,0.7,0.03,73.0,29.0,2.44,6.15,1,0,0
73132,48201100000,2004,1000,"Harris County, Texas",6678.33,40.41,1219.0,95.7,755.98,25968.11,...,0.01,0.7,0.03,53.0,26.0,2.13,4.35,1,0,0

In [36]:
#get columns list to drop unnecesary columns
list(df_data)

['GEOID',
 'year',
 'name',
 'parent-location',
 'population',
 'poverty-rate',
 'renter-occupied-households',
 'pct-renter-occupied',
 'median-gross-rent',
 'median-household-income',
 'median-property-value',
 'rent-burden',
 'pct-white',
 'pct-af-am',
 'pct-hispanic',
 'pct-am-ind',
 'pct-asian',
 'pct-nh-pi',
 'pct-multiple',
 'pct-other',
 'eviction-filings',
 'evictions',
 'eviction-rate',
 'eviction-filing-rate',
 'low-flag',
 'imputed',
 'subbed']

In [37]:
# Drop extraneous columns
df_data = df_data.drop(columns=[
     'rent-burden',
     'pct-white',
     'pct-af-am',
     'pct-hispanic',
     'name',
     'parent-location',
     'pct-am-ind',
     'pct-asian',
     'pct-nh-pi',
     'pct-multiple',
     'pct-other',
     'renter-occupied-households',
     'eviction-filings',
     'pct-renter-occupied',
     'median-gross-rent',
     'low-flag',
     'eviction-filing-rate',
     'imputed',
     'subbed'
])
df_data = df_data.dropna()
df_data.head()

,GEOID,year,population,poverty-rate,median-household-income,median-property-value,evictions,eviction-rate
73129,48201100000,2001,6678.33,40.41,25968.11,27505.80,26.0,2.32
73130,48201100000,2002,6678.33,40.41,25968.11,27505.80,13.0,1.13
73131,48201100000,2003,6678.33,40.41,25968.11,27505.80,29.0,2.44
73132,48201100000,2004,6678.33,40.41,25968.11,27505.80,26.0,2.13
73133,48201100000,2005,3086.38,9.28,52089.62,310296.05,14.0,1.12

In [38]:
#view columns left
list(df_data)

['GEOID',
 'year',
 'population',
 'poverty-rate',
 'median-household-income',
 'median-property-value',
 'evictions',
 'eviction-rate']

In [42]:
#filter df by Harris County
df_data = df_data.rename(columns={"GEOID":"FIPS"})
df_filtered = df_data[df_data['year'] == 2016]

#filter usign LEN >12 for the FIPS, this avoid duplication of values in data 
df_filtered = df_filtered[df_filtered['FIPS'].str.len()==11]
df_filtered = df_filtered.set_index("FIPS")
df_filtered.head()

,year,population,poverty-rate,median-household-income,median-property-value,evictions,eviction-rate
FIPS,,,,,,,
48201100000,2016,4366.0,1.69,82004.0,229700.0,47.0,3.02
48201210400,2016,4825.0,33.75,23456.0,116900.0,43.0,4.10
48201210500,2016,6061.0,31.28,30996.0,110600.0,15.0,1.59
48201210600,2016,5391.0,14.30,48026.0,159200.0,8.0,0.89
48201210700,2016,2176.0,31.80,24458.0,88500.0,11.0,2.91

In [43]:
#groupby to confirm population match 
df_year = df_filtered.groupby('FIPS').sum()
df_year

,year,population,poverty-rate,median-household-income,median-property-value,evictions,eviction-rate
FIPS,,,,,,,
48201100000,2016,4366.0,1.69,82004.0,229700.0,47.0,3.02
48201210400,2016,4825.0,33.75,23456.0,116900.0,43.0,4.10
48201210500,2016,6061.0,31.28,30996.0,110600.0,15.0,1.59
48201210600,2016,5391.0,14.30,48026.0,159200.0,8.0,0.89
48201210700,2016,2176.0,31.80,24458.0,88500.0,11.0,2.91
...,...,...,...,...,...,...,...
48201555502,2016,20758.0,8.88,98412.0,217800.0,18.0,1.39
48201555600,2016,5418.0,9.67,86619.0,277000.0,4.0,2.06
48201555701,2016,8328.0,0.91,111453.0,170200.0,8.0,4.85
48201555702,2016,11156.0,2.64,128285.0,223700.0,8.0,4.57
48201556000,2016,7589.0,12.40,59780.0,106300.0,13.0,1.88

In [44]:
#data frame to csvfile
df_filtered.to_csv(r'../data/cleandata/eviction_data.csv')